.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }

  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
  *,
  *::before,
  *::after {
	box-sizing: border-box;

}
:root {
	--ff-primary:var(font-family: Arial, Helvetica, sans-serif);

	--ff-secondary:var(roboto);

	--fw-reg:var(300);
	--fw-bold:var(900);

	--clr-light:var(white);
	--clr-dark:var(#04817E)

	--clr-accent:(#AA1495);
	

	--fs-h1:var(3rem);
	--fs-h2:var(2.25)
	--fs-h3:var(1.25rem);
	--fs-body:var(1rem);
}

@media (min-width: 800px) {
	:root{
		--fs-h1: 4.5rem
		--fs-h2: 3.75rem;
		--fs-h1:1.5rem;
		--fs-body:1.125rem;
	}
}

body, html {
	height: 100%;
	margin: 0;
	padding: 0;
	background: #f1f1ff;
	font-family: Arial, Helvetica, sans-serif;

}
.heroImage {
	background:linear-gradient(rgb(3, 32, 21), rgb(170, 20, 149,0.65%)), url(/assets/heroimg2.png) no-repeat;

}
.heroImage {
	position: relative;
	height: 600px;
	overflow: hidden;
	
	background-size: cover;
	
  }

  button {
	border-radius: 4px;
	background-color: #04817E;
	border: none;
	color: #FFFFFF;
	text-align: center;
	text-size-adjust: 25%;

	font-size: 20px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
  }
  
  .button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
  .button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  .button:hover span {
	padding-right: 25px;
  }
  
  .button:hover span:after {
	opacity: 1;
	right: 0;
  }
  
  .container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	text-align: center;
	color: white;
	font-weight: 700;
	
  }
  
  .container h1 {
	font-size: 26px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	margin: 0;
	top: 20%;
	

  }

  .container h2 {
	font-size: 36px;
	letter-spacing: 0.2em;
	text-transform: none;
	width: 150px;
	height: fit-content;

  }
  
  .container h1 span {
	border: 10px solid white;
	padding: 6px 14px;
	display: inline-block;

  }
  .hero-text button:hover {
	background-color: #555;
	color: white;
  }

.btn {
	background-color: #04817E;
	padding: 10px 24px;
	font-size: 20px;
	color:white;
	text-decoration: none;
	border-radius: 8px;
	transition: 0.3s all;


.card-img-top {

	background-color: rgb(74,170,165);
	font: color #04817E;
}

.navbar-brand {
	background-color: #FFFFFF;
}

#navbarNav {
	font-size: 20px;
	font-family: 'Georgia' , 'Times' , 'Times New Roman' ,'Serif';
}


.card-footer {

	background-color: #F2AF34;
	font-family: 'Georgia' , 'Times' , 'Times New Roman' ,'Serif';

}

h1{ 
 	 color: rgb(74,170,165);
 	 font-family: Arial, Helvetica, sans-serif;
	 padding-left: 20px
	 padding-right: 20px;
	 margin-left: 10px;
 	 margin-right: 10px;

 }

 .display-2{
	margin-top: 15%;
 }

 h1 {
		color: rgb(74,170,165);
		font-family: 'Georgia' , 'Times' , 'Times New Roman' ,'Serif';
 }

 h2 {

		color: black;
		font-family: 'Georgia' , 'Times' , 'Times New Roman' ,'Serif';

 }

 h4 {

 		color: black;
		font-family: 'Georgia' , 'Times' , 'Times New Roman' ,'Serif';
 }

h5 {

 		color: black;
		font-family: 'Georgia' , 'Times' , 'Times New Roman' ,'Serif';
 }

 h6 {
 		color: black;
 	 	font-family: 'Georgia' , 'Times' , 'Times New Roman' ,'Serif';
 }

 .btn-lg {
	color: rgb(#FFFFFF);
	background-color: #04817E;

 }



 #myPhoto {
 	width: 300px;
 	height: 300px;
 	background-color: #F2AF34;
 	border-color: #cccccc;

}	

body {

   background-image: url(assets/ep_naturalwhite.png)
   
}

.col-sm-8 {
	float: left;

}

content {

	background-color: #FFFFFF;
	font-family: 'Georgia' , 'Times' , 'Times New Roman' ,'Serif';
	font-size: 20px;
	margin-left: 20px;
	margin-right: 10px;
	border-color: #cccccc;
	height: 400px;

}
	
main { 
 
    background-color: #FFFFFF;
    font-family: 'Georgia' , 'Times' , 'Times New Roman' ,'Serif';
		
 }	
}


.aboutNav {
float: right;
display: inline-block;
font-family: 'Georgia' , 'Times' , 'Times New Roman' ,'Serif';
}

.portfolioNav {
	float: right;
display: inline-block;
font-family: 'Georgia' , 'Times' , 'Times New Roman' ,'Serif';
}

.contactNav {
	float: right;
display: inline-block;
}

footer {

	background-color: #373738;
	border-color: #cccccc;
	font-family: 'Georgia' , 'Times' , 'Times New Roman' ,'Serif';
}

#inputEmail4 {
	color: rgb(74,170,165);
	
}
#contactform{
	color: rgb(#FFFFFF);
	background-color: #04817E;
	width: 200px; 
	height: 50px;
	border: #FFFFFF;
	font: color white;
}
.card-deck {
	
}
content {
	width: 500px;
	margin: 0 auto;
}