.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }

  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

body, html {
	height: 100%;
	margin: 0;
	padding: 0;
	background: white;
	font-family: Arial, Helvetica, sans-serif;

}
.heroImage {
	background:linear-gradient(rgb(3, 32, 21), rgb(170, 20, 149,0.65%)), url(/assets/heroimg2.png) no-repeat;

}
.heroImage {
	position: relative;
	height: 600px;
	overflow: hidden;
	
	background-size: cover;
	
  }

  button {
	border-radius: 4px;
	background-color: #04817E;
	border: none;
	color: #FFFFFF;
	text-align: center;
	text-size-adjust: 25%;

	font-size: 28px;
	padding: 20px;
	width: 200px;
	
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
  }
  
  .button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
  .button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  .button:hover span {
	padding-right: 25px;
  }
  
  .button:hover span:after {
	opacity: 1;
	right: 0;
  }
  
  .container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	text-align: center;
	color: white;
	font-weight: 700;
	
  }
  
  .container h1 {
	font-size: 26px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	margin: 0;
	top: 20%;
	

  }

  .container h2 {
	font-size: 36px;
	letter-spacing: 0.2em;
	text-transform: none;
	width: 150px;
	height: fit-content;

  }
  
  .container h1 span {
	border: 10px solid white;
	padding: 6px 14px;
	display: inline-block;

  }
  .hero-text button:hover {
	background-color: #555;
	color: white;
  }

.btn {
	background-color: #04817E;
	padding: 10px 24px;
	font-size: 20px;
	color:white;
	text-decoration: none;
	border-radius: 8px;
	transition: 0.3s all;
}
@media (max-width: 800px) {
	.flex-container {
	  flex-direction: column;
	}
  }

.flexContainer {
	display: flex;
  	justify-content: center;
  	align-items: stretch;
  	align-content: space-between;
	column-count: 3;
	margin-top: 0;
	margin-bottom: 0;

}
.mySkills {
	padding: 100px;
	margin-top: 880px;
	display: block;
}

.technicalTools {
	padding: 0;
	margin: 8%;
	display: block;

}


.skillbox1 .skillbox2 .skillbox3 {
	width: 300px;
	height: 320pc;
	text-align: left;
	margin: 15%;
	padding: 5%;
	transition: .3s ease-in-out;
	
}

.toolsbox1 .toolsbox12 .toolsbox13 .toolsbox14 {
	margin: 20%;
	padding: 10px;
	transition: .3s ease-in-out;
	
}


.card-img-top {

	background-color: rgb(74,170,165);
	font: color #04817E;
}

.navbar-brand {
	background-color: #FFFFFF;
}

#navbarNav {
	font-size: 20px;
	font-family: 'Georgia' , 'Times' , 'Times New Roman' ,'Serif';
}


.card-footer {

	background-color: #F2AF34;
	font-family: 'Georgia' , 'Times' , 'Times New Roman' ,'Serif';

}

h1{ 
 	 color: rgb(74,170,165);
 	 font-family: Arial, Helvetica, sans-serif;
	 padding-left: 20px
	 padding-right: 20px;
	 margin-left: 10px;
 	 margin-right: 10px;

 }

 .display-2{
	margin-top: 15%;
 }

 h1 {
		color: rgb(74,170,165);
		font-family: 'Georgia' , 'Times' , 'Times New Roman' ,'Serif';
 }

 h2 {

		color: black;
		font-family: 'Georgia' , 'Times' , 'Times New Roman' ,'Serif';

 }

 h4 {

 		color: black;
		font-family: 'Georgia' , 'Times' , 'Times New Roman' ,'Serif';
 }

h5 {

 		color: black;
		font-family: 'Georgia' , 'Times' , 'Times New Roman' ,'Serif';
 }

 h6 {
 		color: black;
 	 	font-family: 'Georgia' , 'Times' , 'Times New Roman' ,'Serif';
 }

 .btn-lg {
	color: rgb(#FFFFFF);
	background-color: #04817E;

 }



 #myPhoto {
 	float: right 50%;
}	


.col-sm-9{
	float: left;
	width: 0;
  	padding: 0;
	margin-top: 0;
	background-color: black;

}

.col-sm-8 {
	float: inline-end;
	color:black;
	float: left;
	text-align: left;
	margin-left: 45%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
  }
	
main { 
 
    background-color: #FFFFFF;
    font-family: 'Georgia' , 'Times' , 'Times New Roman' ,'Serif';
		
 }	
}


.aboutNav {
float: right;
display: inline-block;
font-family: 'Georgia' , 'Times' , 'Times New Roman' ,'Serif';
}

.portfolioNav {
	float: right;
display: inline-block;
font-family: 'Georgia' , 'Times' , 'Times New Roman' ,'Serif';
}

.contactNav {
	float: right;
display: inline-block;
}

footer {

	background-color: #373738;
	border-color: #cccccc;
	font-family: 'Georgia' , 'Times' , 'Times New Roman' ,'Serif';
}

#inputEmail4 {
	color: rgb(74,170,165);
	
}
#contactform{
	color: rgb(#FFFFFF);
	background-color: #04817E;
	width: 200px; 
	height: 50px;
	border: #FFFFFF;
	font: color white;
}
.card-deck {
	
}
content {
	width: 500;
	margin: left 90%;
	float: left;
}